*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
a{
    text-decoration: none;
    
}
.nav-center
{
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 50px;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 20px;
    
}
h4{
    font-size: 25px;
    color: #75daff;
}
ul li a{
    color: #232222;
}
.nav-center ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 80vh;
}
main h2{
    font-size: 30px;
    background-color: #000;
    color: #fff;
    text-transform: capitalize;
    border-radius: 5px;
   
    
}
.btn
{
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent ;
    color: #000;
  
}
.btn:hover
{
    background-color: #232222;
    transition: all 0.5s;
    color: #fff;

}